body {
  margin: 0;
  padding: 0;
}
h1 {
  margin: 0;
}
p {
  margin: 0;
}

#login-card {
  margin-top: 3rem;
}
.input-group-text,
.input-group.no-border.input-lg {
  padding: 15px !important;
}
.input-group-prepend {
  margin-bottom: 1rem;
}
.input-group-prepend p {
  margin-top: 1.5rem;
}
.card-footer {
  height: 4rem;
  display: flex;
  flex-direction: column;
}
.alert {
  padding: 0.9rem;
}

.alert .container {
  display: flex;
  align-items: center;
}

.scale-in-ver-top {
  -webkit-animation: scale-in-ver-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94)
    both;
  animation: scale-in-ver-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@-webkit-keyframes scale-in-ver-top {
  0% {
    -webkit-transform: scaleY(0);
    transform: scaleY(0);
    -webkit-transform-origin: 100% 0%;
    transform-origin: 100% 0%;
    opacity: 1;
  }
  100% {
    -webkit-transform: scaleY(1);
    transform: scaleY(1);
    -webkit-transform-origin: 100% 0%;
    transform-origin: 100% 0%;
    opacity: 1;
  }
}
@keyframes scale-in-ver-top {
  0% {
    -webkit-transform: scaleY(0);
    transform: scaleY(0);
    -webkit-transform-origin: 100% 0%;
    transform-origin: 100% 0%;
    opacity: 1;
  }
  100% {
    -webkit-transform: scaleY(1);
    transform: scaleY(1);
    -webkit-transform-origin: 100% 0%;
    transform-origin: 100% 0%;
    opacity: 1;
  }
}
